h3{
    /*text-align: left;*/
}
@font-face {
    font-family: Radley;
    src: url(../fonts/Radley-Regular.ttf);
}
@font-face {
    font-family: RadleyItalic;
    src: url(../fonts/Radley-Italic.ttf);
}
/*ask if possible to have global css styling on multiple pages
also to make header stick, body to scroll
*/
#header{
    display: flex;
    /*grid-template-columns: 25%, 25%, 25%, 25%;*/
    /*grid width: 25%;*/
    /*flex: 50%;*/
    padding: 10px;
    background-color: #1B9BF7;
    border-radius: 15px;
    /*align-items: center;*/
}
.column{
    width: 50%;
}
.headerText{
  font-family: Radley;
  color: #F0E6C7;   
}
a:link{
color: greenyellow;
}
a:visited{
    color:green;
}
a:hover{
    text-decoration: line-through;
}
a:active{
    color: blueviolet;
    text-decoration: dotted;
}    

#Homepage{
    padding-left: 30px;
    /*min-height: auto;*/
    max-height: fit-content;
    position:relative;
    align-items: center;
    max-width: 75%;
}
h1{
    font-family: Radley;
}
p{
    font-family: Radley;
}
#welcomeText{
    color: grey;
}
#footer{
    display: flex;
    padding: 10px;
    border-radius: 15px;
    background-color: #CB950C;
}
.footerText{
    font-size: xx-small;
    font-weight: lighter;
    color: #F0E6C7;
    text-align: center; 
}

#pageCards{
    /*border-bottom: 10px;*/
    background-color: black;
    color: red;
    height: 100px;
    width: 100px;
    display: flex;
    grid-template-columns: 33px, 33%, 33%;
}