h3{
    /*text-align: left;*/
}
/*ask if possible to have global css styling on multiple pages
also to make header stick, body to scroll
*/
#header{
    display: flex;
    /*grid-template-columns: 25%, 25%, 25%, 25%;*/
    /*grid width: 25%;*/
    /*flex: 50%;*/
    padding: 10px;
    background-color: bisque;
    border-radius: 15px;
    /*align-items: center;*/
}
.column{
    width: 50%;
}
.headerText{
  font-family: Arial, Helvetica, sans-serif;  
}
a:link{
color: greenyellow;
}
a:visited{
    color:green;
}
a:hover{
    text-decoration: line-through;
}
a:active{
    color: blueviolet;
    text-decoration: dotted;
}    

#Homepage{
    padding-left: 30px;
    /*min-height: auto;*/
    max-height: fit-content;
    position:relative;
    align-items: center;
    max-width: 75%;
}
p{
    font-family: Radley;
}
#welcomeText{
    color: grey;
}
#footer{
    display: flex;
    padding: 10px;
    border-radius: 15px;
    background-color: rgb(141, 131, 117);
}
.footerText{
    font-size: xx-small;
    font-weight: lighter;
    text-align: center; 
}